<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="books" href="/books/books">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="songs" href="/songs/songs">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Songs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
