<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your favorite songs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item *ngFor="let s of songs">
        <ion-avatar slot="start">
          <img [src]="s.logo" [alt]="s.album">
        </ion-avatar>
        <ion-label> 
          <h2>{{ s.name }}</h2>
          <p>{{ s.album }} - {{ s.author }}</p>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>